body {
    background-color: rgb(25, 25, 25);
}

div {
    list-style: none;
}

#test {
    color: white;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    font-size: 5vh;
    text-align: center;
    transition: 1s;
    transition-timing-function: ease-in-out;
}

#arrowleft_backredirect {
    width: 25%;
    height: 25%;
    margin-left: 6%;
    transition: .5s;
    text-decoration: none;
}

#arrowleft_backredirect:hover {
    transition: .5s;
    color: green;
    width: 25%;
    height: 25%;
    margin-left: 6%;
    text-decoration: none;
}

a {
    text-decoration: none;
    color: inherit;
}

#back_to_start {
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    transition: .5s;
    text-decoration: none;
}

#back_to_start:hover {
    transition: .5s;
    color: green;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    text-decoration: none;
}

/* Github Socials START */
#github_socials_image {
    width: 8%;
    height: 8%;
    margin-left: 45.85%;
    margin-top: -5%;
    cursor: pointer;
}

#github_social_description {
    color: white;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: -.4%;
    transition: .5s;
}

#github_social_description:hover {
    color: rgb(107, 107, 121);
    transition: .5s;
    font-weight: bold;
}
/*Powershell Project END */

/*Discord Socials START */
#discord_socials_bild {
    width: 25%;
    height: 25%;
    margin-left: 37.5%;
    cursor: pointer;
}

#discord_socials_description {
    color: white;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: .5s;
}

#discord_socials_description:hover {
    font-weight: bold;
    transition: .5s;
    color: rgb(255, 255, 255);
}

#clicktocopy_discordname {
    color: white;
}

#clicktocopy_discordname:hover {
    transition: .5s;
    color: red;
}